body {
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    width: 100vw;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 310px;
    height: 510px;
    background-color: white;
    border-radius: 10px;
}

/*IMAGE SECTION*/

#image-section {
    background-image: url(images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 310px;
    height: 210px;
    border-radius: 10px 10px 0 0;
}

#image-section img{
    width: 100%;
}

/*TEXT SECTION*/

h1 {
    color: hsl(217, 19%, 35%);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 30px;
}

#text-section {
    padding: 0 29px;
}

#text-section p {
    color: hsl(214, 17%, 51%);
    margin-top: 0;
    line-height: 1.5em;
}

/*SHARE SECTION*/

#share-section {
    display: grid;
    align-items: flex-end;
    position: relative;
}

.author-sec {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 15px 25px;
    position: relative;
}


.share-author p {
    margin-top: 0;
    margin-bottom: 0;
}

.share-author .author-name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.share-author .article-date{
    color: hsl(214, 17%, 51%);
}

.share-author-img img {
    width: 60%;
    border-radius: 50%;
}

.share-icon {
    display: flex;
    justify-self: center;
    width: 15px;
    height: 15px;
    background: hsl(210, 46%, 95%) no-repeat;
    padding: 8px;
    border-radius: 50%;
    z-index: 1;
}
.share-icon img {
    width: 100%;
}

.share-sec {
    background-color: hsl(217, 19%, 35%);
    padding: 10px 25px;
    border-radius: 0 0 10px 10px;
    position: absolute;
}

.toggle-share-sec {
    display: none;
}

.social-details-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    color: hsl(214, 17%, 51%);
}

.social-details-container p {
    font-weight: 700;
    letter-spacing: 3px;
    padding-right: 8px;
}

div.links-container {
    display: flex;
    align-items: center;
}

div.links {
    padding: 0 8px;
}

/* JAVASCRIPT SELECTORS */

.white-share-icon {
    background: hsl(214, 17%, 51%) no-repeat;
}

.white-share-icon-color{
     filter: brightness(3);
 }

/*TABLET SCREENS*/

@media only screen and (min-width: 590px){
    h1 {
        font-size: 12px;
    }

    #main {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        width: 470px;
        height: 220px;
    }   
}

@media only screen and (min-width: 590px) {
    #image-section {
        grid-column: 1;
        grid-row: 1 / 3;
        width: 220px;
        height: 220px;
        border-radius: 10px 0 0 10px;
    }
}

@media only screen and (min-width: 590px) {
    #text-section {
        grid-column: 2;
        grid-row: 1 / 2;
        padding: 0 15px;
    }

    #text-section p {
        font-size: 9px;
    }

}

@media only screen and (min-width: 590px) {
    #share-section {
        align-items: flex-start;
    }

    .share-icon {
        justify-self: flex-end;
    }

    .share-sec {
        position: absolute;
        top: -88%;
        left: 45%;
        border-radius: 10px;
        width: 60%;
        padding: 3px 20px;
        font-size: 10px;
    }

    .share-sec::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -15px;
        border-width: 15px;
        border-style: solid;
        border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    }
    .social-details-container {
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .share-name {
        text-align: center;
    }
}

/*LARGER TABLET SCREENS*/

@media only screen and (min-width: 800px){
    h1 {
        font-size: 19px;
    }

    #main {
        width: 700px;
        height: 280px;
    }    
}

@media only screen and (min-width: 800px) {
    #image-section {
        width: 280px;
        height: 280px;
    }
}

@media only screen and (min-width: 800px) {
    #text-section {
        padding: 0 40px;
    }

    #text-section p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 800px) {
    .share-icon {
        justify-self: center;
    }

    #share-section {
        align-items: flex-start;
        padding: 0 15px;
        height: 85px;
    }
}

@media only screen and (min-width: 800px) {
    .share-sec {
        top: -76%;
        left: 53%;
        width: 50%;
        padding: 8px 15px;
    }
}

/*LAPTOP AND DESKTOP SCREENS*/

@media only screen and (min-width: 1024px) {
    .share-icon {
        justify-self: flex-end;
    }

    .share-sec {
        left: 58%;
    }
}

